.f-main {
  background-color: $culturebook;
  padding-top: 50px;
  padding-bottom: 50px;

  .nav {
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
    font-size: 20px;

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 700;
      text-align: center;

      &:hover, &:focus {
        text-decoration: underline;
        background-color: transparent;
      }
    }
  }



  .f-logo {
    margin: auto auto 50px auto;
    display: block;
    width: 200px;
    height: auto;
  }

  .f-social-links {
    margin: 20px auto;
    display: flex;
    justify-content: center;

    a {
      padding: 5px 10px;
      display: inline-block;
    }
    svg {
      fill:#FFF;
      width: 60px;
      height: auto;
      display: block;
    }
  }

  .icon-small {
    width: 40px;
    height: auto;
    display: block;
  }

  section {
    margin: 0 auto;
    max-width: 95%;
    @media (min-width: $screen-sm-min) {
      max-width: 66.666%;
    }
  }

  h4 {
    text-align: center;
    color: #FFF;
    font-size: 20px;
    margin-bottom: 15px;
  }
}
