.hero {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 400px;
  height: 50vh;
  background-color: $culturebook;
  background-size: cover;
  background-image: url(/images/brighton.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #FFF;
  transition: opacity 400ms cubic-bezier(0.4,0.0,1,1);

  @media (min-width: $screen-sm-min) {
    height: 55vh;
  }

  p {
    margin-left: auto;
    text-align: left;
    @media (min-width: $screen-sm-min) {
      font-size: 20px;
    }
  }

  &-logo {
    fill:#FFF;
    width: 260px;
    height: auto;
    margin: auto auto 15px 0;
    display: block;

    @media (min-width: $screen-sm-min) {
      width: 400px;
    }

    @media (min-width: $screen-md-min) {
      width: 500px;
    }
  }
  &-content {
    margin: auto;
    padding: 0 $side-padding-xs;
    position: relative;
    z-index: 2;
  }

  &-overlay {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
  }

}
