.section, .section > div {
  @extend .clear;
  overflow: hidden;
}

.section {
  div {
    @extend .container;
    padding-bottom: 30px;
    @media (min-width: $screen-sm-min) {
      padding-bottom: 60px;
    }
  }
}

.c-main {
  section {
    @extend .container;
  }
}
