.section, .section > div {
  @extend .clear;
  overflow: hidden;
}

.section {
  div > div, div > section, .page {
      @extend .container;
  }
  div > div.react-tabs__tab-panel {
    padding-left: 30px;
    padding-right: 30px;
    @media (min-width: $screen-sm-min) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  div > div {
    &.exhibitTabs,
    &.exhibit-content,
    &.blog-post-content {
      padding-left: 0;
      padding-right: 0;
    }
  }

}

.c-main {
  section {
    @extend .container;
  }
}

.page__exhibit {
  @media (min-width: $screen-sm-min) {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
  }
}

#result {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 30px;
  padding: 0;

  li {
    list-style: none;
    background-color: #333;
    color: #FFF;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

.card {
  display: block;

  a & {
    color:#FFF;
  }
}

.card img {
  border-bottom:1px solid #CCC;
}