#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  min-width: 320px;
  text-rendering: optimizeLegibility;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

.container-fluid {
  @media (min-width: $screen-lg-min) {
    width: 1000px;
  }
}

h1, h2, h3, h4 {
  font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
}