.row {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-flow: row wrap;

    &:after, &:before {
        content: "";
        display: block;
        clear: both;
    }
}

.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    flex: 1 0 100%;
}

@media (min-width: 768px) {
    .col-sm-4 {
        flex: 1 0 33.3333333333%;
    }

    .col-sm-8 {
        flex: 1 0 66.6666666667%;
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        flex-grow: 1;
    }
}
